@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--color-retro: #1f3000;
	--color-board-background: #a1b469;
	--color-background: #030401;
	--font: 'Press Start 2P', cursive;
}

body {
	background-color: var(--color-background);
	height: auto;
	width: auto;
	margin: 0;
	background-image: url('./img/nokia.webp');
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 640px;
	height: 45px;
	margin-left: 106px;
	margin-top: 318px;
}

h3 {
	font-family: var(--font);
	font-size: 45px;
	color: var(--color-retro);
}

h6 {
	font-family: var(--font);
	font-size: 14px;
	color: var(--color-retro);
	margin-right: 20px;
}

.canvas {
	display: flex;
	justify-content: center;
	margin-top: 24px;
	margin-left: 106px;
}

.game__board {
	width: 640px;
	height: 370px;
	border: solid 4px var(--color-retro);
}

.teclas {
	display: none;
}

@media only screen and (max-height: 721px) {
	body {
		background-position: center -60px;
	}

	.bar {
		margin-top: 258px;
	}
}

@media only screen and (max-width: 640px) {
	body {
		background-image: url('');
		background-color: dimgrey;
		width: 100vw;
	}

	.bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 350px;
		height: 45px;
		margin-left: 10px;
		margin-top: 20px;
	}

	h6 {
		display: none;
	}

	.canvas {
		margin: 10px auto;
		margin-bottom: 30px;
	}

	.game__board {
		width: 370px;
		height: 370px;
		background-color: var(--color-board-background);
		border: solid 2px var(--color-retro);
	}

	.teclas {
		display: block;
		position: relative;
	}

	.centrado {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin-top: -132px;
	}

	.centrado2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.tecla {
		width: 62px;
		height: 62px;
		border: solid 1px #696969;
	}
}
