:root {
	--color-retro: black;
	--color-board-background: #a1b469;
	--color-background: #0b0e0d;
}

body {
	background-color: var(--color-background);
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-image: url("./img/nokia.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.navBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: 'Roboto', sans-serif;
	color: var(--color-board-background);
	margin-left: 107px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	color: var(--color-board-background);
	margin-left: 107px;
}

.canvas {
	display: flex;
	justify-content: center;
	margin-top: 369px;
	margin-left: 107px;
}

/**
.game__board {
	border: solid 4px var(--color-retro);
	background-color: var(--color-board-background);
}
*/
