body {
	background-color: dimgrey;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.navBar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	color: darkorange;
}

.canvas {
	display: flex;
	justify-content: center;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 100px;
}

.game__board {
	border: solid 4px darkorange;
	background: darkblue;
}
